<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stickers</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Images/0081.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0110.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0115.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0116.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0131.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/01_Angelic-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/02_In love-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/03_Laughing.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0474.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0475.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0476.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0478.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/04_Perverse-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0508.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0545.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0566.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0570.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/05_Dancing-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0686.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/06_Whaaat?-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0743.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0760.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0762.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0766.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0769.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0775.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0777.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0786.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0792.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0796.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/07_Finger Up-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/0800.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/09_Anger-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/10_Goodbye-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/11_Scared-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/Being Happy A-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-01.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-02.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-03.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-04.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-05.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-06.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-07.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-08.png</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Images/mustache-09.png</string>
		</dict>
	</array>
</dict>
</plist>
